<footer class="footer">
  <ul>
    <li><i class="far fa-copyright"></i> Eshika Kothari</li>
    <li><a href="https://www.linkedin.com/in/eshika-k-28500b107/"><i class="fab fa-linkedin fa-lg"></i></a></li>
    <li><a href="https://www.instagram.com/ekothari321/"><i class="fab fa-instagram fa-lg"></i></a></li>
    <li><a href="https://github.com/eshikakothari"><i class="fab fa-github fa-lg"></i></a></li>
  </ul>
</footer>
</body>

</html>
