<%-include("partials/header")-%>
<div class="centered">

  <div class="container home">
    <h1 class="heading">Lifeline</h1>
    <p class="subheading">Let's make this world a better place for everyone!</p>
  </div>

  <a href="/home"><button class=" btn btn-outline-light btn-lg" type="button" name="button">donate</button></a>
</div>

<%-include("partials/footer")-%>
